{% extends "./base.html" %}
{% load static %}

{% block main %}

<h1 id="count">
    
</h1>

<div class="container-fluid p-1">
    <div class="row">
        <div class="col-1">

            <button id="prev" class="btn btn-primary">prev</button>

        </div>
        <div class="col-1">

            <button id="reset" class="btn btn-dark">reset</button>

        </div>
        <div class="col-1">

            <button id="next" class="btn btn-primary">next</button>

        </div>

        <div class="col-1">
            <div class="row equal">
                <div class="col-7">
                    <input type="text" id="skip_page" value="" placeholder="SKIP" size="5"/>
                </div>
                <div class="col-5">
                    <button id="skip" class="btn btn-primary">skip</button>
                </div>
            </div>            
        </div>


        <div class='col-4 offset-md-4'>
            <div class="row equal">
                <div class='col-4'>
                    <button id="submit" class="btn btn-success">submit</button>
                </div>
                
                <div class='col-7'>
                    <input type="text" id="desc" value="" placeholder="DESC" size="20"/>
                </div>
            </div>
            
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-7">
            <img id='ref' src="">
        </div>
        <div class="col-5">
            <label><input type="checkbox" id="selectall" name="all" value="all">Select All</label>
            <form id="selform" class='form-group' method='post' onsubmit="return false;">
                <label><input class="selform_item" type="checkbox" name='selected' value=1>选择</label>
                {% for seg in seg_msg %}
                <label><input class="selform_item" type="checkbox" name='{{ seg.id }}' value='{{ seg.id }}'>{{ seg.id }}</label>
                {% endfor %}
            </form>

            <form id="myform" class='form-group' method='post' onsubmit="return false;">
                <!-- {% csrf_token %} -->
                <div class="accordion open accordion-flush"  id="example">
                    {% for seg in seg_msg %}
               
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading{{ seg.id }}">
                            <button class="accordion-button" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapse{{ seg.id  }}">
                            {{ seg.id }}
                            </button>
                        </h2>

                        <div id="collapse{{ seg.id }}" class="accordion-collapse collapse show"
                        aria-labelledby="heading{{ seg.id }}">
                            <div class="accordion-body">
                                {% for node in seg.node %}
                                <label><input name="{{ node.xpath }}" type="checkbox" value={{ seg.id }}> {{ node.text }}</label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </form>
            
        </div>
    </div>
</div>

<br>

<div id="pos" style="visibility: hidden;">
    {{ pos }}
</div>

<h1 id="block" style="visibility: hidden;">
    {{ num }}
</h1>


{% endblock %}

{% block script %}
<script>
    function selectAll(){
        checkboxes = document.getElementsByClassName('selform_item');
        for (var i=0; i < checkboxes.length; i++){
            checkboxes[i].checked = true;
        }
    }

    function unselectAll(){
        checkboxes = document.getElementsByClassName('selform_item');
        for (var i=0; i < checkboxes.length; i++){
            checkboxes[i].checked = false;
        }
    }

    $('#selectall').click(function(){
        var all_checkbox = document.getElementById('selectall');
        if (all_checkbox.checked){
            selectAll();
        }else{
            unselectAll();
        }
    });



    function refresh(seg_msg){
        $('#selform').empty();
        $('#selform').append($("<label><input class='selform_item' type='checkbox' name='selected' value=1>选择</label>"));
        for (var i=0; i < seg_msg.length; i++){
            var seg = seg_msg[i];
            $('#selform').append($(`<label><input class="selform_item" type='checkbox' name=${seg.id} value=${seg.id}>${seg.id}</label>`));
            $('#example').append($(`<div class="accordion-item">
                                                <h2 class="accordion-header" id="heading${seg.id}">
                                                    <button class="accordion-button" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#collapse${seg.id}">
                                                    ${seg.id}
                                                    </button>
                                                </h2>

                                                <div id="collapse${seg.id}" class="accordion-collapse collapse show"
                                                aria-labelledby="heading{{ seg.id }}">
                                                    <div class="accordion-body" id="abody${seg.id}">
                                                    </div>
                                                </div>
                                            </div>`));
            for (var j=0; j < seg.node.length; j++){
                var node = seg.node[j];
                $(`#abody${seg.id}`).append($(`<label><input name=${node.xpath} type="checkbox" value=${seg.id}> ${node.text}</label>`));
            }
        }
    }

    window.onload = function(){
        var pos = $('#pos').text();
        var id = page_ids[parseInt(pos)];
        $('#count').text(id);
        $("#ref").attr('src', '/static/' + id + '/screenshot-' + id + '.png')
    }

    $('#skip').click(function(){
        var pos = parseInt($('#skip_page').val());
        console.log(pos);
        var post_data = {'pos' : pos};

        $.ajax({
            type: "POST",
            url:  "/skip/",
            data: post_data,
            success: function(data){
                var id = page_ids[data.pos]
                $('#count').text(id);
                $("#ref").attr('src', '/static/' + id + '/screenshot-' + id + '.png')
                $('#block').text(data.seg_msg.length);

                $('#example').empty();
                
                refresh(data.seg_msg);
            },
        });
    });

    $('#submit').click(function(){
        // page info
        var page_id = $('#count').text();
        var blocks  = $('#block').text();
        
        var form_data = $('#myform').serialize();
        var b = new Set();
        if (form_data != ""){
            var label_blocks = form_data.split('&');
            // calc label block nums
            for (var i=0; i < label_blocks.length; i++){
                var val = label_blocks[i];
                var ele = val.split('=');
                var b_id = ele[1];
                b.add(b_id);
            }
        }

        var desc = $('#desc').val();
        $('#desc').val("");
        $('#selectall').prop('checked', false);

        // selection form data
        var sel_data = $('#selform').serialize();
        console.log(sel_data);

        var post_data = {
            'page_id'     : page_id,
            'blocks'      : parseInt(blocks),
            'label_blocks': b.size,
            'desc'        : desc,
            'form_data'   : form_data,
            'sel_data'    : sel_data
        }

        $.ajax({
            type: 'POST',
            url:  '/label/',
            data:  post_data,
            success: function(){
                console.log('sucess');
                $('#next').click();
            }
        })
        // record info
    });

    $('#reset').click(function(){
        $.ajax({
            type: "GET",
            url:  "/reset/",
            success: function(data){
                var id = page_ids[data.pos]
                $('#count').text(id);
                $("#ref").attr('src', '/static/' + id + '/screenshot-' + id + '.png')
                $('#block').text(data.seg_msg.length);

                $('#example').empty();
                
                refresh(data.seg_msg);
            },
        })
    });

    $('#prev').click(function(){
        $.ajax({
            type: "GET",
            url:  "/prev/",
            success: function(data){
                var id = page_ids[data.pos]
                $('#count').text(id);
                $("#ref").attr('src', '/static/' + id + '/screenshot-' + id + '.png')
                $('#block').text(data.seg_msg.length);

                $('#example').empty();

                refresh(data.seg_msg);
            }
        })
    });

    $('#next').click(function(){
        $.ajax({
            type: "GET",
            url:  "/next/",
            success: function(data){
                var id = page_ids[data.pos]
                $('#count').text(id);
                $("#ref").attr('src', '/static/' + id + '/screenshot-' + id + '.png')
                $('#block').text(data.seg_msg.length);

                $('#example').empty();

                refresh(data.seg_msg);
            }
        })
    });
</script>
{% endblock %}
