{% extends "./base.html" %}

{% block main %}
{% if message %}
{{ message }}
{% endif %}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="login-form bg-light mt-4 p-4">
                <form action="/login/" method="post" class="row g-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>Welcome Back</h4>

                    {% for field in form %}
                    <div class="col-12">
                        {{ field.label_tag }} 
                        {{ field }}
                    </div>
                    {% endfor %}  
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark float-end">Login</button>
                    </div>
                </form>
                <hr class="mt-4">
            </div>
        </div>
    </div>
</div>
{% endblock %}